@page "/"
@using CurrencyConverter.Services
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<div style="padding: 3%;">
    <center>
        <h2>You can converter your money</h2>
    </center>

    <!-- MainPage.razor -->

    <div style="margin-top: 5%;">
        <form @onsubmit="SubmitForm">

            <div>
                <label for="name" style="margin-top:1px; font-weight: bold;">Amount:</label>
                              
                    <InputNumber id="enteredDouble" @bind-Value="enteredDouble" style="width: 100%; margin-bottom: 3px;" class="form-control" required />
                    <label for="name" style="margin-top:1px; font-weight: bold;">From:</label>
                    <select @bind="selectedCurrencyFrom" class="form-control" >
                        @if (Currencies != null)
                        {
                        <option value="0">Select...</option>
                            @foreach (var item in Currencies)
                            {
                                <option value="@item">@item</option>
                            }
                        }

                    </select>
                    <label for="name" style="margin-top:1px; font-weight: bold;">To:</label>
                    <select @bind="selectedCurrencyTo" class="form-control">
                        @if (Currencies != null)
                        {
                            <option value="0">Select...</option>
                            @foreach (var item in Currencies)
                            {
                                <option value="@item">@item</option>
                            }
                        }

                    </select><br />

                    <button type="submit" style="width: 100%;" class="btn btn-primary">Converter</button>
            
            </div>
        </form>
    </div>
</div>

@code {
    private List<string> Currencies { get; set; } = new List<string>();
    private decimal enteredDouble;
    private CurrencyConversionService CurrencyConversionService = new();
    private string selectedCurrencyFrom { get; set; } = string.Empty;
    private string selectedCurrencyTo { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        await InitializeAsync();

        // Call the base implementation to ensure proper initialization
        await base.OnInitializedAsync();
    }

    private async Task SubmitForm()
    {
        if (enteredDouble == 0 || selectedCurrencyFrom == "" || selectedCurrencyTo == "")
        {
            JSRuntime.InvokeVoidAsync("alert", @$"The input Amount is blank or The Currency was not selected");
        }
        else
        {
            var resultadoConversao = await CurrencyConversionService.ConvertCurrencyAsync(selectedCurrencyFrom, selectedCurrencyTo, enteredDouble);

            JSRuntime.InvokeVoidAsync("alert", @$"The conversion from {selectedCurrencyFrom} to {selectedCurrencyTo} is: {resultadoConversao.ToString("0.00")}");
        }

    }

    private async Task InitializeAsync()
    {
        var listaCurrency = await CurrencyConversionService.ListCurrency();
        Currencies = listaCurrency.Select(a => a.Key).ToList();
    }


}